{:paths ["src"]
 :deps {io.github.nextjournal/clerk {:git/sha "c741fcd021c333d6d3fb2ba000cc04bb5d3e8251"}
        io.github.nextjournal/simple-http-server {:git/sha "e5f6323cbcf5031bff19001bcdc0ec97b66ba0ef"}
        babashka/fs {:mvn/version "0.5.20"}}}
